#MACOSX
.DS_Store

#Arquivos compilados do Jav
bin/*

#Arquivos do LATEX
doc/**/*.log
doc/**/*.pdf
doc/**/*.synctex.gz
doc/**/*.aux
doc/**/*.bbl
doc/**/*.blg
doc/**/*.idx
doc/**/*.toc
doc/**/*.ilg
doc/**/*.ind
