.DS_Store
bin/*
doc/workshops/*/*.log
doc/workshops/*/*.pdf
doc/workshops/*/*.synctex.gz
doc/workshops/*/*.aux
doc/workshops/*/*.bbl
doc/workshops/*/*.blg
doc/workshops/*/*.idx
doc/workshops/*/*.toc

